# Лабораторная работа 2

## Библиотека SQLAlchemy

Дан файл с ассортиментом в продуктовом магазине (`Lab2_Товары.txt`). Добавьте в него вручную не менее 10 новых строк в том же формате. У каждого товара должно быть: наименование, цена за единицу (в файле указана уже с учетом скидки), скидка (в %), срок годности, количество (шт).

**1.** Создать базу данных с информацией о товарах с помощью библиотеки `SQLAlchemy`.

In [7]:
# Ваш код здесь

**2.** Удалить товары с неккоректными данными. Анализировать все значения. Указать, какие диапазоны значений вы учитывали как корректные.

In [8]:
# Ваш код здесь

**3.** Вывести в поянтном виде (хотя бы для одного пункта использовать библиотеку `PrettyTable`):
    
    * весь ассортимент

In [3]:
# Ваш код здесь

    * самый дорогой товар без учета скидки и его полную стоимость

In [4]:
# Ваш код здесь

    * среднюю стоимость товаров

In [5]:
# Ваш код здесь

    * все скоропортящиеся товары (срок годности <= 10 дней)

In [6]:
# Ваш код здесь

    * товары со скидкой и стоимостью до 50 руб

In [ ]:
# Ваш код здесь

**4.** Посчитать выручку магазина за прошедшую неделю. Будем считать, что на начало недели в магазине было:
    
    * 150 единиц товаров стоимостью до 100 руб
    
    * 100 единиц товаров стоимостью до 300 руб
    
    * по 50 единиц остальных товаров

Текущую дату определять автоматически.

In [3]:
# Ваш код здесь

**5.** Заказать товары со склада. Для этого создать новую таблицу, в которую по одному разу включить все товары, которые нужно заказать. Минимальное количество, которое необходимо иметь на следующую неделю (учитывать имеющийся уже товар):

    * 50 единиц, если срок годности <= 14 дней

    * 100 единиц, если срок годности меньше <= 30 дней
    
    * 150 единиц, все остальное

In [4]:
# Ваш код здесь

 **6.** В таблице заказов сократить вдвое все скоропортящиеся товары (срок годности <= 10 дней), при этом изменить БД.

In [10]:
# Ваш код здесь